button{
	width: 250px;
	height: 80px;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 15px;
	margin: 5px;
	cursor: pointer;
	font-size: 30px;
}
button:hover{
	background-color: #009d3c;
}
.boton-clic{
	background-color: #0232b8;
}
.boton-reiniciar{
	background-color: #5a01a4;
}

